
/** {*/
/*    font-family: Calibri, serif;*/
/*}*/
#nameForm {
    display: none;
}

#emailForm {
    display: none;
}

#passwordForm {
    display: none;
}

/*head {*/
/*    font-family: Arial, serif;*/
/*}*/

#boldDiv {
    font-weight: bold;
}