body {
    font-family: "Karla", sans-serif;
    background: rgb(54,105,158);
    background: -moz-linear-gradient(180deg, rgba(54,105,158,1) 0%, rgba(70,147,252,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(54,105,158,1) 0%, rgba(70,147,252,1) 100%);
    background: linear-gradient(180deg, rgba(54,105,158,1) 0%, rgba(70,147,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#36699e",endColorstr="#4693fc",GradientType=1);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.main-head{
    height: 150px;
    background: #FFF;

}

.btn-sq-lg {
    width: 150px;
    height: 150px;
    margin-bottom:2%;
    margin-right:2%;
    background-color:#2b354c;!important;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.37);
    transition: 0.2s;
}

.btn-sq-lg:hover{
    padding-top:8px;
}

@media screen and (max-width: 767px) {
    #buttons-container{
        margin-top: 30%;
    }
}

@media screen and (min-width: 768px) {
    #buttons-container {
        margin-top: 8%;
    }
}

@media screen and (max-width: 485px){
    #buttons-container {
        margin-top: 40%;
    }
}

.fas,.fab,.far{
    padding-bottom:10%;
    padding-top:5%;
}


