body{
    background: rgb(54,105,158);
    background: -moz-linear-gradient(180deg, rgba(54,105,158,1) 0%, rgba(57,121,209,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(54,105,158,1) 0%, rgba(57,121,209,1) 100%);
    background: linear-gradient(180deg, rgba(54,105,158,1) 0%, rgba(57,121,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#36699e",endColorstr="#3979d1",GradientType=1);
    background-repeat:no-repeat;
    background-attachment: fixed;
}