<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Official Activity Registration</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:rel="stylesheet" th:href="@{/css/dashPageStyle.css}">
    <link th:rel="stylesheet" th:href="@{/css/contentMargin.css}">

    <link th:rel="stylesheet" th:href="@{/css/gradientBg.css}">
    <link th:rel="stylesheet" th:href="@{/css/snackbarStyling.css} "/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div id="snackbar" th:text="${message}"></div>
<div id="content-pane">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile" id="container-box">
                <h1 align="center">Custom Activity Registration</h1><hr style="background-color:#333;">
                <form id = "customActivityForm" name="customActivityForm" action="#" th:action="@{/user/add-custom-activity}" enctype="multipart/form-data" method="post" th:object="${activity}">
                    <div class="form-group">
                        <h4>Activity Name</h4>
                        <input th:field = "*{name}" type="text" class="form-control" id="activity-name" name="activity-name">
                    </div>
                    <div class="form-group">
                        <h4>Description:</h4>
                        <input th:field = "*{description}" type="text" class="form-control" id="description" name="description">
                    </div>
                    <div class = "card-header border-bottom">
                        <h3>Initial thoughts</h3>
                    </div>
                    <table class = "table table-responsive">
                        <tr th:each = "tag : ${tags}" th:multiple = "multiple" >
                            <td><input type = "checkbox" th:value = "${tag.tagID}" th:field = "*{customTags}"></td>
                            <td class = "tag-label" th:text = "${tag.tagName}"></td>
                            <td class = "tag-label" th:text = "${tag.description}"></td>
                        </tr>
                    </table>
<!--                    <select th:field = "*{allOfficialTags}" class = "form-control" id = "tags" name = "tags" multiple = "multiple">-->
<!--                        <option th:each = "tag : ${tags}"-->
<!--                        th:value = "${tag.tagID}"-->
<!--                        th:Text = "${tag.tagName}">-->
<!--                        </option>-->
<!--                    </select>-->
                    <button type="submit" id="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script>
        $('#customActivityForm').on('submit', function(e) {
            if (($('#activity-name').val()=="")&&($('#description').val()=="")){
                alert("Please enter an activity name and a description.");
                e.preventDefault();
            }
            else if ($('#activity-name').val()==""){
                alert("Please enter an activity name.");
                e.preventDefault();
            }
            else if ($('#description').val()==""){
                alert("Please enter a description name.");
                e.preventDefault();
            }
            else{
                return true;
            }
        });
    </script>
</footer>
</html>