<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Official Activity Registration</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <style>
        font-family: "Karla", sans-serif;
    </style>
</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div th:replace="snackbar.html :: body"></div>
<div align="center">
    <h1>Official Activity Registration</h1>
    <form action="#" th:action="@{add_official_activity/}" method="post" th:object="${activity}">
        <label>Activity Name:</label>
        <input type="text" th:field="*{name}" /><br/>

        <label>File URL:</label>
        <input type="text" th:field="*{file}" /><br/>

        <label>Description:</label>
        <textarea rows="5" cols="25" th:field="*{desc}"></textarea>
        <br/>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>