<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Custom Activity Registration</title>
</head>
<body>
<div align="center">
    <h1>Custom Activity Registration</h1>
    <form action="#" th:action="@{/add_custom_activity}" method="post" th:object="${activity}">
        <label>Activity Name:</label>
        <input type="text" th:field="*{name}" /><br/>

        <label>File URL:</label>
        <input type="text" th:field="*{file}" /><br/>

        <label>Description:</label>
        <textarea rows="5" cols="25" th:field="*{desc}"></textarea>
        <br/>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>