<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href = "/css/account-edit.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <title th:text = "${siteuser.name} + '&rsquo;' + 's account'"></title>

<!--    <title th:text = "${siteuser.name} +  's account"></title>-->
</head>
<body>
<main>
    <div id = "editUser" th:if = "${siteuser}">

        <h2 th:text = "'current user: '+ ${siteuser.name}"></h2>

        <button type = button id = "nameButton" th:text = "'change name: ' + ${siteuser.name}"></button>
        <br>
        <form id = "nameForm" th:action="@{/admin/change-name}" enctype="multipart/form-data" method=post th:object="${editForm}">
            <input type = "hidden" th:name="id" th:value = "${siteuser.userID}">
            <label for = "name">new name: </label>
            <input th:field = "*{edit}">
            <button type = "submit">submit new name</button>
        </form>
        <br>
        <button type = button id = "emailButton" th:text = "'change email address: ' + ${siteuser.emailAddress}"></button>
        <br>
        <form id = "emailForm" th:action="@{/admin/change-email}" enctype="multipart/form-data" method="post" th:object="${editForm}">
            <input type = "hidden" th:name="id" th:value = "${siteuser.userID}">
            <label for = "email">new email address: </label>
            <input id = "nameFormID" th:field = "*{edit}">
            <button type = "submit"> submit new email address</button>
        </form>
        <br>
        <button type = button id = "passwordButton" th:text = "'change password'"></button>
        <br>
        <form id = "passwordForm" th:action="@{/admin/change-password}" enctype="multipart/form-data" method="post" th:object="${editForm}">
            <input type = "hidden" th:name="id" th:value = "${siteuser.userID}">
            <label for = "password">new password: </label>
            <input th:field = "*{edit}">
            <br>
            <button type = "submit">submit new password</button>
        </form>
        <br>


<!--        <h2 th:text = "'current user: ' + ${siteUser.name}"></h2>-->

    </div>
</main>
</body>
<script> $("#nameButton").click(function(){$("#nameForm").toggle();}); </script>
<script> $("#emailButton").click(function(){$("#emailForm").toggle();}); </script>
<script>$("#passwordButton").click(function(){$("#passwordForm").toggle(); }); </script>

</html>