<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>All activities</title>
    <link th:rel="stylesheet" th:href="@{/css/dashPageStyle.css}">
    <link th:rel="stylesheet" th:href="@{/css/gradientBg.css}">
    <link th:rel="stylesheet" th:href="@{/css/allActivitiesStyling.css}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/d312da903a.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/css/contentMargin.css}">


    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">

</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div class="content-pane">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile" id="container-box">
    <h1>All activities</h1>
    <ul class="list-group">
        <li class = "list-group-item" th:each="activity : ${activities}">
            <p th:text = "${activity.name}"></p>
            <span class="badge" th:text="${activity.activityID}"></span>
            <p th:text = "${activity.file}"></p>
            <p th:text = "${activity.desc}"></p>

        </li>
    </ul>
    </ul>
</div>
</div>
    </div>
</div>
<script>
    // Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // Initialize popover component
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</body>
</html>
