<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tags</title>
    <link th:rel="stylesheet" th:href="@{/css/dashPageStyle.css}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:rel="stylesheet" th:href="@{/css/tableStyling.css}">
    <style>
        font-family: "Karla", sans-serif;
    </style>
</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div th:replace="snackbar.html :: body"></div>
<div id="content-pane">
    <h1>All Tags</h1>
    <div  id = "tagTable">
        <h2>Official Tags</h2>
        <table class = "table table-responsive">
            <thead class = "thead-dark">
            <tr>
                <th scope = "col">Tag</th>
                <th scope = "col">Description</th>
            </tr>
            </thead>
            <tr th:each = "tag : ${tags}" >
                <td th:if = "${tag.isOfficial}" th:text = "${tag.tagName}"></td>
                <td th:if = "${tag.isOfficial}" th:text = "${tag.description}"></td>

            </tr>
        </table>
    </div>
    <div id = "tagTable2">
        <h2>Custom Tags</h2>
        <table class = "table table-responsive" >
            <thead class = "thead-dark">
            <tr>
                <th scope = "col">Tag</th>
                <th scope = "col">Description</th>
            </tr>
            </thead>
            <tr th:each = "tag : ${tags}">
                <td th:unless = "${tag.isOfficial}" th:text = "${tag.tagName}"></td>
                <td th:unless = "${tag.isOfficial}" th:text = "${tag.description}"></td>
                <td th:unless = "${tag.isOfficial}" sec:authorize="hasRole('ROLE_ADMIN')">
                    <form class = "delete-form" th:action="@{/delete-tag}" enctype="multipart/form-data" method="post" th:object="${tag}">
                    <input type = "hidden" th:value = "${tag.tagName}" name = "deleteButton"/>
                    <button type = "submit" th:action = "@{/admin/delete-tag}" th:object="${tag}" class = "glyphicon-floppy-remove" name="action" value = "remove">
                        Remove
                    </button>
                </td>

            </tr>
        </table>

    </div>
</div>
</body>
</html>
