<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href = "/css/account-edit.css">
    <meta charset="ISO-8859-1">

    <title>All participations</title>
    <link th:rel="stylesheet" th:href="@{/css/dashPageStyle.css}">
    <link th:rel="stylesheet" th:href="@{/css/gradientBg.css}">
    <link th:rel="stylesheet" th:href="@{/css/allActivitiesStyling.css}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/d312da903a.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/css/contentMargin.css}">


    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div class="content-pane">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile" id="container-box">
                <h1 align="center">My Activities</h1><hr style="background-color:#333;height:0.5px;">
                <ul class="list-group">
                    <li class = "list-group-item" th:each="participation,iterStat : ${participations}">
                        <form action="#" th:action="@{all-my-participations/}" enctype="multipart/form-data" method="post" th:object="${editForm}">
                            <span class="badge" th:text="${participation.activityID}"></span>
                            <p th:text = "'Activity Name: '+ ${activities[iterStat.index].name}"></p>
                            <p th:text = "'Description: '+ ${activities[iterStat.index].description}"></p>
                            <p th:text = "'Participation Date: '+ ${participation.date}"></p>
                            <p th:text = "'Your role: '+ ${participation.roleID}"></p>
                            <input type = "hidden" th:name="participationReflectID" th:value = "${participation.activityID}"/>
                            <button type="submit">Reflect</button>
                        </form>
                    </li>
                </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    // Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // Initialize popover component
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</body>
</html>