<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>All activities</title>
    <style>
        font-family: "Karla", sans-serif;
    </style>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:rel="stylesheet" th:href="@{/css/dashPageStyle.css}">
</head>
<body>
<div th:replace="navbar-login.html :: header"></div>
<div id="content-pane">
<h1>All activities</h1>
        <ul>
            <li th:each="activity : ${activities}">
                <p th:text = "${activity.activityID}"></p>
                <p th:text = "${activity.name}"></p>
                <p th:text = "${activity.file}"></p>
                <p th:text = "${activity.desc}"></p>
            </li>
        </ul>
    </div>
</body>
</html>
