<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="donutScript" xmlns:th="http://www.w3.org/1999/xhtml">
<script th:inline="javascript">
    $(document).ready(function() {
            var tagList = [];
            var thTagList = /*[[${userstags}]]*/ [];

            var tagListUnique = [];



            for (i=0;i<thTagList.length;i++){
                tagList.push(thTagList[i]);
            }

            $.each(tagList, function(i, el){
                if($.inArray(el, tagListUnique) === -1) tagListUnique.push(el);
            });

            const aCount = new Map([...new Set(tagList)].map(
                x => [x, tagList.filter(y => y === x).length]
            ));


            var doughnutChartCanvas = document.getElementById("doughnutChart").getContext("2d");
            var doughnutData = [];

            tagListUnique.forEach(function(tagg) {
                    var random_color = "hsla(" + ~~(360 * Math.random()) + "," +
                            "70%,"+
                            "80%,1)";
                doughnutData.push({
                    value: aCount.get(tagg),
                    color: random_color,
                    highlight: random_color,
                    label: tagg

            });
        });

        var doughnutOptions = {
            tooltipEvents: [],
            showTooltips: true,
            onAnimationComplete: function () {
                this.showTooltip(this.segments, true);
            },
            tooltipTemplate: "<%= label %> - <%= value %>",
            tooltip: {
                caretPadding: 50,
                yAlign: 'bottom'
            },

            labels: tagList,
            type: 'doughnut',
            segmentShowStroke: true,
            segmentStrokeColor: "#fff",
            segmentStrokeWidth: 2,
            percentageInnerCutout: 50,

            animationSteps: 100,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false,
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: true,
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                }
            }
        };

        var myDoughnut = new Chart(doughnutChartCanvas).Doughnut(doughnutData, doughnutOptions);
    });
</script>
</footer>