<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Professional Development Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <link th:rel="stylesheet" th:href="@{/css/dashboardStyling.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/dashboardAStyling.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/snackbarStyling.css} "/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d312da903a.js" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/snackbar.js}"></script>
</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div id="snackbar"><span id="snackbar-text"></span><i id="snackbar-icon" class="fas fa-check"></i></div>
<main>
    <div class="container" id="buttons-container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <a href="/admin/all-accounts" class="btn btn-sq-lg btn-primary" id="view-a-custom-tags-btn">
                        <i class="fas fa-users-cog fa-5x"></i><br/>
                        View all<br>Accounts
                    </a>
                    <a href="/user/activities-signup-list" class="btn btn-sq-lg btn-primary" id="view-a-act-btn">
                        <i class="fas fa-book fa-5x"></i><br/>
                        View all <br>Activities
                    </a>
                    <a href="/admin/all-tags" class="btn btn-sq-lg btn-primary" id="view-official-tags-btn">
                        <i class="fas fa-user-tag fa-5x"></i><br/>
                        View all<br> Tags
                    </a>
                    <a href="/admin/all-public-reflections" class="btn btn-sq-lg btn-primary" id="view-official-reflections-btn">
                        <i class="fas fa-user-tag fa-5x"></i><br/>
                        View all<br> Public Reflections
                    </a>    
                    <a href="/admin/create-tag" class="btn btn-sq-lg btn-primary" id="add-new-tag-btn">
                        <i class="fas fa-tags fa-5x"></i><br/>
                        Add new <br>Tag (admin)
                    </a>
                    <a href="/admin/add-official-activity" class="btn btn-sq-lg btn-primary" id="add-a-custom-activity-btn">
                        <i class="fas fa-users-cog fa-5x"></i><br/>
                        Add official<br>Activity
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="position:relative;margin-top:10px;">
        <div class="content-pane">
            <div class="well profile" id="container-box-graph" style="">
                <div>
                    <h3>Site Statistics - Users' Completed Tags</h3>
                    <br>
                    <!-- <div id="legend"></div> -->
                    <canvas id="barChart1"></canvas>
                </div>
                <br clear="all">
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    var tagList = [];
    var thTagList = /*[[${otagNamesAll}]]*/ [];

    var tagListUnique = [];


    for (i=0;i<thTagList.length;i++){
        tagList.push(thTagList[i]);
    }

    $.each(tagList, function(i, el){
        if($.inArray(el, tagListUnique) === -1) tagListUnique.push(el);
    });

    const aCount = new Map([...new Set(tagList)].map(
        x => [x, tagList.filter(y => y === x).length]
    ));


    var doughnutChartCanvas = document.getElementById("barChart1").getContext("2d");
    var doughnutData = [];

    tagListUnique.forEach(function(tagg) {
        var random_color = "hsla(" + ~~(360 * Math.random()) + "," +
            "70%,"+
            "80%,1)";
        doughnutData.push({
            value: aCount.get(tagg),
            color: random_color,
            highlight: random_color,
            label: tagg

        });
    });

    var doughnutOptions = {
        tooltipEvents: [],
        showTooltips: true,
        onAnimationComplete: function () {
            this.showTooltip(this.segments, true);
        },
        tooltipTemplate: "<%= label %> - <%= value %>",
        tooltip: {
            caretPadding: 50,
            yAlign: 'bottom'
        },

        labels: tagList,
        type: 'doughnut',
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 50,

        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
        responsive: true,
        maintainAspectRatio: true,
        legend: {
            display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        }
    };

    var myDoughnut = new Chart(doughnutChartCanvas).Doughnut(doughnutData, doughnutOptions);
</script>
<script>
    const pathname = window.location.pathname,
        pages = ['about','dashboard', 'login'];
    $('.nav-item').each(function(i) {
        if (pathname.includes(pages[i]))
            $(this).addClass('active');
        else if (this.className.includes('active'))
            $(this).removeClass('active');
    });
</script>
<script th:inline="javascript">
    var message = [[${success}]];
    var msg_type = [[${type}]];
    if (message == true){
        switch(msg_type){
            case "cactivity":
                document.getElementById("snackbar-text").innerHTML="Added custom activity";
            case "addreflection":
                document.getElementById("snackbar-text").innerHTML="Added reflection";
            case "thoughtcloud":
                document.getElementById("snackbar-text").innerHTML="Added thought cloud";

        }
        showSnackbar();
    }
</script>

</body>
</html>