<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professional Development Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:rel="stylesheet" th:href="@{/css/dashboardStyling.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/snackbarStyling.css} "/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d312da903a.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/snackbar.js}"></script>
    <script th:src="@{/js/daysUntil.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <style>
        #container-box-completed-tags,#container-box-upcoming,#container-box-graph{
            -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.37);
            -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.37);
            box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.37);
        }
    </style>
    <style>
    </style>
    <style>
        .chartjs-tooltip {
          opacity: 1;
          position: absolute;
          background: rgba(0, 0, 0, 0.7);
          color: white;
          padding: 3px;
          border-radius: 0px;
          -webkit-transition: all .1s ease;
          transition: all .1s ease;
          pointer-events: none;
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
        }

        .chartjs-tooltip.below {
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, -100%);
        }

        .chartjs-tooltip.above {
          -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
        }

        .tooltip_tbl {
          font-size: 13px;
        }

        ._chart_percent {
        }

        ._chart_percent #percent {
          font-size: 46px;
          color: #353535;
        }

        .custom-menu {
          z-index: 1000;
          position: absolute;
          background-color: #fff;
          border: 1px solid black;
          padding: 2px;
        }
    </style>
</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div th:replace="snackbar.html :: body"></div>
<main>
    <div class="container" id="buttons-container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <a href="/user/account" class="btn btn-sq-lg btn-primary" id="view-acc-btn">
                        <i class="fas fa-user-tie fa-5x"></i><br>
                        View my<br>Account
                    </a>
                    <a href="/user/all-my-participations" class="btn btn-sq-lg btn-primary" id="view-act-btn">
                        <i class="fas fa-archive fa-5x"></i><br/>
                        View my <br>Activities
                    </a>
                    <a href="/user/all-my-reflections" class="btn btn-sq-lg btn-primary" id="view-act-btn">
                        <i class="fas fa-archive fa-5x"></i><br/>
                        View my <br>Reflections
                    </a>
                    <a href="/user/activities-signup-list" class="btn btn-sq-lg btn-primary" id="view-all-act-btn">
                        <i class="fas fa-book fa-5x"></i><br/>
                        View all <br>Activities
                    </a>

                    <a href="/user/add-custom-activity" class="btn btn-sq-lg btn-primary" id="add-custom-act-btn">
                        <i class="fas fa-cogs fa-5x"></i><br/>
                        Add Custom <br>Activity
                    </a>
                    <a href="/user/add-reflection" class="btn btn-sq-lg btn-primary" id="add-custom-act-btn">
                        <i class="fas fa-cogs fa-5x"></i><br/>
                        Add <br>Reflection
                    </a>
                    <a href="/user/create-tag" class="btn btn-sq-lg btn-primary" id="add-new-tag-btn">
                        <i class="fas fa-tags fa-5x"></i><br/>
                        Add a custom<br>Tag
                    </a>
                    <a href="/user/all-tags" class="btn btn-sq-lg btn-primary" id="view-official-tags-btn">
                        <i class="fas fa-user-tag fa-5x"></i><br/>
                        View all<br>Tags
                    </a>
                    <!--                    <a href="#" class="btn btn-sq-lg btn-primary" id="view-a-custom-tags-btn">-->
                    <!--                        <i class="fab fa-intercom fa-5x"></i><br/>-->
                    <!--                        View all<br>Custom Tags-->
                    <!--                    </a>-->
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="position:relative;margin-top:10px;">
        <div class="content-pane">
            <div class="well profile" id="container-box-upcoming" style="float:left;">
                <div>
                    <h3>Upcoming activities</h3>
                    <br>
                    <div class="list-group">
                        <th:block th:each="participation : ${participations}">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="${'Participation #'+participation.participationID}"></h5>
                                    <small th:text="${#strings.arraySplit(participation.date, ' ')[0]}"></small>
                                </div>
                                <p class="mb-1">participation description</p>
                                <small class="date-field" th:text="${#strings.arraySplit(participation.date, ' ')[0]}"></small>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="well profile" id="container-box-graph" style="margin-left:300px;">
                <div>
                    <h3>UKPSF Progression</h3>
                    <br>
                    <!-- <div id="legend"></div> -->
                    <div id="canvas-holder">
                        <canvas id="chart-area" width="300" height="300"></canvas>
                        <div class="_chart_percent above" style="display: none">
                            <span id="percent"></span><span style="font-size:23px;font-weight:normal;">%</span>
                        </div>
                        <div class="chartjs-tooltip" style="display: none">
                            <table class="tooltip_tbl">
                                <tr>
                                    <td>
                                        <div class="em" style="width: 10px; height: 10px;">&nbsp;</div>
                                    </td>
                                    <td style="padding: 3px;"><span class="label">label</span></td>
                                    <td>
                                        <div class="val"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br clear="all">
            </div>
            <div class="well profile" id="container-box-completed-tags" style="margin-top:40px;">
                <div>
                    <h3>Completed UKPSF Tags</h3>
                    <br>
                    <div th:each="tag : ${tags}">
                        <h1 th:text="${tag.tagName}"></h1>
                    </div>
                </div>
                <br clear="all">
            </div>
            <br clear="all">
        </div>
    </div>
    </div>
</main>
<script>
    const pathname = window.location.pathname,
        pages = ['about','dashboard', 'login'];
    $('.nav-item').each(function(i) {
        if (pathname.includes(pages[i]))
            $(this).addClass('active');
        else if (this.className.includes('active'))
            $(this).removeClass('active');
    });
</script>
<script>
    var all = $(".date-field").map(function() {

            var start = moment();
            var end = moment(this.innerHTML, "YYYY-MM-DD");
            var amountofDays = Math.floor(moment.duration(start.diff(end)).asDays());
            this.innerHTML = amountofDays + " days left"

    }).get();



</script>
<script th:inline="javascript">
    var tagList = []
    var thTagList = /*[[${tags}]]*/ [];

    for (i=0;i<thTagList.length;i++){
        tagList.push(thTagList[i].tagName);
    }

    var doughnutChartCanvas = document.getElementById("chart-area").getContext("2d");
    var doughnutData = [];

    tagList.forEach(function(tagg) {
            var random_color = "hsla(" + ~~(360 * Math.random()) + "," +
                    "70%,"+
                    "80%,1)";
        doughnutData.push({
            value: 1,
            color: random_color,
            highlight: random_color,
            label: tagg
        });
    });

    var doughnutOptions = {

         onAnimationComplete: function () {
            var max = 0,
                max_pos = 0;

            this.segments.forEach(function (key, i) {
                key.index = i;
                key.percent =  Math.round(key.circumference / 6.283 * 100);
                this[i].percent = key.percent;
                if (max - (key.percent) < 0) {
                    max = key.percent;
                    max_pos = i;
                }
            }, doughnutData);

            var max_tooltip = [this.segments[max_pos]];

            $("#chart-area").on('mouseleave', function () {
                this.showTooltip(max_tooltip, true);
            }.bind(this));

            this.showTooltip(max_tooltip, true);
        },
        segmentShowStroke: false,
        showTooltips: true,
        animationSteps: 100,
        animateRotate: true,
        animationEasing: 'easeInOutQuart',
        percentageInnerCutout: 50,
        animateScale: false,
        labelAlign: 'center',
        scaleShowLabels: false,
        tooltipTemplate: "<%=index%>"
    };

    var ChartDisplay = {
        $holder : null,
        init : function(){
            this.$holder = $("#canvas-holder");
            this.initEvent();
            this.initView();
        },
        initView : function(){
            var ctx = this.$holder.find("#chart-area")[0].getContext("2d"),
                doughnut = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

            this.initTooltipIndex(doughnut.segments);
            doughnut.segments.myData = doughnutData;
        },
        initEvent : function(){
            Chart.defaults.global.customTooltips = (function (tooltip) {
								this.setTooltipEvent(doughnutData, tooltip);
            }.bind(this));

            this.$holder.on("mousemove", "canvas", function(evt){
                evt.preventDefault();
                var tooltipEl = $(".chartjs-tooltip");
                tooltipEl.css({
                    opacity: 1,
                    left: event.pageX + 'px',
                    top: event.pageY + 'px'
                });
            }.bind(this));
        },
        initTooltipIndex: function (segment) {
            segment.forEach(function (obj) {
                obj.index = 0;
            });
        },
        setTooltipEvent : function (doughnutData, tooltip) {
            var tooltipEl = $(".chartjs-tooltip"),
                percentLegend = $("._chart_percent");
            var idx = tooltip.text * 1;
            tooltipEl.show();
            percentLegend.show();

            if (!tooltip) {
              tooltipEl.hide();
              return;
            }

            tooltipEl.removeClass('above below');
            tooltipEl.addClass(tooltip.yAlign);

            var offset = $(tooltip.chart.canvas).offset();

            if (offset.left && offset.top) {
              tooltipEl.find(".em").css("background", doughnutData[idx].color);
              tooltipEl.find(".label").html(doughnutData[idx].label);
              tooltipEl.find(".val").html(doughnutData[idx].value);
              percentLegend.find("#percent").html(doughnutData[idx].percent);

              tooltipEl.css({
                opacity: 1,
                left: offset.left + tooltip.x + 'px',
                top: offset.top + tooltip.y + 'px',
              });

              percentLegend.css({
                width: $(tooltip.chart.canvas).width() / 4,
                left: $(tooltip.chart.canvas).width() / 2.6 + offset.left + 'px',
                top: $(tooltip.chart.canvas).height() / 2.4 + offset.top + 'px',
                position: 'absolute',
                'z-index': 100
              });
            }
        },
        labels: tagList,
        type: 'doughnut',
        tooltips: {

            mode: 'nearest',
            intersect: false
        }
    };
    ChartDisplay.init();
    var myDoughnut = new Chart(doughnutChartCanvas).Doughnut(doughnutData,doughnutOptions);

</script>
</body>
</html>