<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sponsor Me</title>
</head>
<body>
<h1>Test Login</h1>
<div>CLick to add new account</div>
<div><a href="/registration">New Account</a></div>
<div><a href="/add_official_activity">Add an activity</a></div>
<div><a href="/add_custom_activity">Add a custom activity</a></div>
<div><a href="/add_participation">Add a participation</a></div>
<div><a href="/all_activities">All activities</a></div>
<div><a href="/all_participations">All participations</a></div>
<div><a href="/account/2">update Account</a></div>
<div><a href="/admin/all-accounts">all accounts</a></div>
</body>
</html>