<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:rel="stylesheet" th:href="@{/css/loginStyling.css} "/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#myCarousel").carousel();
        });
    </script>
</head>
<body>
<div th:replace="navbar-login.html :: header" style=""></div>
    <main>
        <div class="sidenav">
            <div class="login-main-text">
                <h2>Progress<br>Tracker</h2>
                <p>Welcome! Login to continue or sign up for an account.</p>
            </div>
        </div>

        <div class="main">
            <div class="col-md-6 col-sm-12">
                <div class="login-form">
                    <form name="login" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <div th:if="${param.error}">
                                There was an error.
                            </div>
                            <div th:if="${param.logout}">
                                You have been logged out.
                            </div>
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-dark" id="login-button">Login</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="forgot-create-buttons-wrapper">
            <button type="button" id="forgot-pw-button">Forgot password?</button>
            <button type="button" id="create-acc-button">Create account</button>
        </div>

    </main>
<script>
    var pathname = window.location.pathname,
        pages = ['home', 'login'];
    $('.nav-item').each(function(i) {
        if (pathname.includes(pages[i]))
            $(this).addClass('active');
        else if (this.className.includes('active'))
            $(this).removeClass('active');
    });
</script>

</body>

</html>