<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/js-url-2.6.3/dist/jquery-url.min.js"></script>

    <script src="/js/DonationsApiClient.js"></script>

    <title th:text = "${siteuser.name} + '&rsquo;' + 's account'"></title>

<!--    <title th:text = "${siteuser.name} +  's account"></title>-->
</head>
<body>
<main>
    <div id = "editUser" th:if = "${siteuser}">

        <h2 th:text = "'current user: '+ ${siteuser.name}"></h2>
<!--        <h2 th:text = "'current user: ' + ${siteUser.name}"></h2>-->

    </div>
</main>
</body>
</html>