<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
    <body>
        <main>
            <div id = "newUser">

                <h2>New User</h2>
                <!--connects to newUserForm class and creates object based upon entries-->
                <form th:action="@{/register}" enctype="multipart/form-data" method="post" th:object="${newUser}">
                    <!--Covers input of naming field-->
                    <br>
                    <div>
                        <label for = "emailAddress">Email Address</label>
                        <input th:field = "*{emailAddress}" type = "text">

                        <p th:if = "${#fields.hasErrors('emailAddress')}" th:errors = "*{emailAddress}">
                            Placeholder text for error
                        </p>

                    </div>
                    <br>
                    <div>
                        <label for = "password">Password</label>
                        <input type = "password" th:field = "*{password}">

                        <p th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}">
                            Placeholder text for error>
                        </p>

                    </div>
                    <br>
                    <div>
                        <label for = "passwordConfirm"> Confirm Password </label>
                        <input type = "password" th:field = "*{matchingPassword}">

                        <p th:if = "${#fields.hasErrors('password')}" th:errors = "*{matchingPassword}">
                            Placeholder text for error>
                        </p>
                    </div>
                    <br>
                    <div>
                        <label for = "name"> Please enter your preferred name: </label>
                        <input th:field = "*{name}">

                        <p th:if = "${#fields.hasErrors('password')}" th:errors = "*{name}">
                            Placeholder text for error>
                        </p>
                    </div>
                    <br>


                    <button type = "submit" id = "submit">Submit</button>
                </form>

            </div>

        </main>

    </body>
</html>